body {
	background: #fff;
	color: #333;
}
.messagesTopMargin {
	margin: 70px 30px 0;
}
.wrapperTopMargin {
	margin: 40px 0 0 0;
}
.panel-title a {
	color: #333;
}
a.removeItem:hover,
a.removeItem {
	color: #d9534f;
}
.img-thumbnail {
    width: 100% !important;
}
.cms-loader {
    background: rgba(0, 0, 0, 0.56) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.cms-loader::before {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 5px;
    content: " ";
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;
}
.cms-loader .spinner-loader {
    left: 50%;
    margin: -5px 0 0 -5px;
    position: absolute;
    top: 50%;
    z-index: 9999999;
}
textarea.form-control {
	height: 250px;
	resize: none; 
}
#fos_user_registration > div {
    padding: 10px 0;
}
#fos_user_registration label {
    float: left;
    min-width: 20%;
    text-align: right;
    padding-right: 10px;
    line-height: 40px;

}
#fos_user_registration input {
    width: 80%;
    height: 40px;
}
.fos_user_registration_register .btn-default {
    float: right;
}
.temp {}