<div class="row">
	<div class="col-sm-12">
		<h2 class="instagrm-ico">Clube Salatino</h2>

		<div class="col-xs-6 col-sm-3 pdr">
			<img src="{{ instagram[0] }}" class="img-responsive">
		</div>
		<div class="col-xs-6 col-sm-3 pdr pdr-xs lastInstagram-xs">
			<img src="{{ instagram[1] }}" class="img-responsive">
		</div>
		<div class="col-xs-6 col-sm-3 pdr">
			<img src="{{ instagram[2] }}" class="img-responsive">
		</div>
		<div class="col-xs-6 col-sm-3 lastInstagram">
			<img src="{{ instagram[3] }}" class="img-responsive">
		</div>
	</div>
</div>