<div class="row">
	<div class="col-sm-8 pdr">
		<h2>Parceiros</h2>
		<div class="partners">
			<a href="#"><img alt="Proplan" src="{{ asset('bundles/salatinosite/images/partner-proplan.png') }}"></a>
			<a href="#"><img alt="Zoetis" src="{{ asset('bundles/salatinosite/images/partner-zoetis.png') }}"></a>
			<a href="#"><img alt="Pet Society" src="{{ asset('bundles/salatinosite/images/partner-pet-society.png') }}"></a>
		</div>
		
	</div>

	<div class="col-sm-4">
		<h2>Salatino na Mídia</h2>
		<ul class="highlights">
			<li><a href="">Salatino na Vogue</a></li>
			<li><a href="">Revista Vogue</a></li>
			<li><a href="">Revista Corpo a Corpo</a></li>
			<li><a href="">Salatino no Estadão</a></li>
			<li><a href="">Passeio de Cães em Campos 2013</a></li>
		</ul>
	</div>
</div>